<body>
  <%= link_to "Add new post", new_post_path %>

  <article>

  	<% @posts.each do |post| %>
  		<div class="Row">
  			<div class="Grid">
					<div class="Grid--1ofX">
						<a href="/posts/<%= post.id %>"><%= image_tag post.image.url(:square) %></a>
					</div>
          <div class="Comment">
            <%= post.comment %>
          </div>
  			</div>
  		</div>
    <% end %>

  </article>
</body>
