<body>
  <%= link_to "Add new post", new_post_path %>

  <article>

    <div class="polaroid-posts">
    	<% @posts.each do |post| %>
  			<a href="/posts/<%= post.id %>" title="<%= post.comment %>"><%= image_tag post.image.url(:square) %></a>
      <% end %>
    </div>

  </article>
</body>
